@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC_hOIIjWEuplaa8BB7D8XHyveJFLzf1diSAI8fc7qu4KMJSiZSE9jQ8M&s=10');
color:white;
font-family:Audiowide;
}
form{
background-repeat:no-repeat;
height:260px;
font-size:25px;
}
.earth{
width:500px;
height:500px;
}
h1{
font-size:150px;
}
h2{
font-size:45px;
}
marquee{
background-color:white;
color:black;
height:25px;
border:dotted 5px black;
}
ul{
background-color:white;
color:black;
width:200px;
height:100px;
text-align:center;
display:inline-block;
text-decoration:none;
}
.menu li{
display:inline-block;
position:relative;
color:black;
width:250px;
height:70px;
text-align:center;
text-decoration:none;
}
.submenu{
position:absolute;
top:100%;
left:-25%;
}
.submenu li{
width:500px;
text-align:center;
background-color:white;
color:black;
height:70px;
display:inline-block;
border:dotted 5px black;
}
.submenu{
display:none;
}
.menu li:hover > .submenu{
display:block;
}
div{
background:white;
border:dotted 5px black;
}
.sun{
width:250px;
height:250px;
}
.text{
color:black;
}
